@import url(./fonts/weather-icons.min.css);
:root {
  --clouds-day: url(../src/assets/clouds-day.jpg);
  --clouds-night: url(../src/assets/clouds-night.jpg);
  --clear-day: url(../src/assets/clear-day.jpg);
  --clear-night: url(../src/assets/clear-night.jpg);
  --thunderstorm: url(../src/assets/thunderstorm.jpg);
  --rain: url(../src/assets/rain.jpg);
  --drizzle: url(../src/assets/drizzle.jpg);
  --snow: url(../src/assets/snow.jpg);
  --atmostphere: url(../src/assets/atmosphere.jpg);
}
body {
  height: 100%;
  background-image: var(--clear-day), var(--clouds-day), var(--clouds-night),
    var(--clear-night), var(--drizzle), var(--rain), var(--snow),
    var(--thunderstorm), var(--atmostphere);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 500ms ease-in-out;
}
body.clouds-day {
  background-image: var(--clouds-day);
}

body.clouds-night {
  background-image: var(--clouds-day);
}

body.rain {
  background-image: var(--rain);
}

body.clear-day {
  background-image: var(--clear-day);
}

body.clear-night {
  background-image: var(--clear-night);
}

body.atmosphere {
  background-image: var(--atmostphere);
}

body.snow {
  background-image: var(--snow);
}

body.drizzle {
  background-image: var(--drizzle);
}

body.thunderstorm {
  background-image: var(--thunderstorm);
}

.current-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.current-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.current-icon i {
  font-size: 6rem;
  margin: 1rem;
}
.city-details {
  margin-top: 1.2rem;
}
.low-high {
  display: flex;
  gap: 5px;
  margin-bottom: 0.75rem;
}
.low-high span {
  display: flex;
}
.stats-card {
  display: flex;
  align-items: center;
}
.weather-stats {
  min-height: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather-stats i {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.7);
  flex-basis: 20%;
  font-size: 1rem;
}
.weather_stats-row1,
.weather_stats-row2 {
  min-width: 140px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.daily-icons {
  display: flex;
  flex-basis: 55%;
  justify-content: space-between;
}
.daily-icons i {
  color: rgba(255, 255, 255, 0.7);
}
.daily-icons .if-rain {
  margin-left: 8px;
}
.accord-max-min {
  flex-basis: 40%;
  display: flex;
  justify-content: space-evenly;
}
.daily-weather-stats {
  display: flex;
  flex-direction: column;
}
.daily-weather-stats .daily-temp {
  display: flex;
  justify-content: space-between;
}
